<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Back-office</title>
				<script>
			window.eurIT = Intl.NumberFormat('it-IT', {style: 'currency', currency: 'EUR', minimumFractionDigits: 2, maximumFractionDigits: 2});
			</script>
		<link rel="stylesheet" href="/front/style.css">
	</head>
	<body class="dark:bg-neutral-900 dark:text-white">
		{{> back/nav}}
		{{{body}}}
	</body>
</html>
