<h1 class="text-3xl font-bold text-center">Cerca servizi</h1>
<div class="flex flex-col p-4 max-w-prose mx-auto gap-4">
	<label for="branch">Sede</label>
	<select name="branch" id="branch" class="dark:bg-neutral-800 rounded" onchange="updateServices()">
	</select>
</div>
<div id="services" class="flex flex-col gap-4 p-4 max-w-screen-lg mx-auto">
</div>