<h1 class="font-bold text-3xl text-center p-4">Gestisci prenotazioni</h1>
<div id="booking" class="flex flex-col gap-4 p-4 max-w-2xl mx-auto justify-center">
	<div class=" flex flex-row items-stretch order-last md:order-none w-full md:w-auto justify-center">
		<a href="/back/addserviceslot" role="button"
			class="flex flex-row gap-2 rounded p-4 bg-emerald-500 dark:bg-emerald-800 justify-center items-center w-52 hover:font-bold">
			<img class="dark:invert" width="20" src="/icons/plus.svg" alt="">
			<span> Aggiungi un nuova disponibilità <span>
		</a>
	</div>
</div>
<script>
	const params = (new URL(document.location)).searchParams;
	fetch(`/api/bookings/${params.get('branchId')}/${params.get('serviceId')}`)
		.then((response) => response.json())
		.then((services) => {
			services.forEach(booking => {
				let bookingCard = document.createElement("div");
				bookingCard.innerHTML = `<div
                class="flex flex-col md:flex-row border border-neutral-300 dark:border-neutral-800 rounded-xl shadow-md max-w-screen-lg mx-auto">
	<div class="md:w-1/5 p-4 gap-4 mx-auto justify-item-center">
  <img class="dark:invert" src="/icons/calendar.svg" width="40" alt="">
	</div>
	<div class="md:w-2/5 p-4 justify-center">
  <label for="dateStart-${booking._id}">Data-Ora inizio</label>
  <input type="datetime-local" name="dateStart" id="dateStart-${booking._id}" class="dark:bg-neutral-800 rounded" required value="${booking.start.substring(0,16)}"/>
	<br>
	<label for="dateEnd-${booking._id}">Data-Ora fine</label>
  <input type="datetime-local" name="dateEnd" id="dateEnd-${booking._id}" class="dark:bg-neutral-800 rounded" required value="${booking.end.substring(0,16)}"/>
	</div>
	<div class="md:w-2/5 p-4">
		<label for="informazioni-${booking._id}" >Informazioni:</label><input id="informazioni-${booking._id}" class=" w-auto dark:bg-neutral-800 rounded" value= "${booking.info}" type="text" />
		<p id="animal-${booking._id}">Animale: </p>
		 <p>id animale: ${booking.petId ? booking.petId : 'non prenotato'}</p>
    <div class="flex flex-col md:flex-row grap-2 justify-end p-1">
				<button type="button" class="flex p-2 rounded bg-emerald-500 dark:bg-emerald-800 justify-center items-center w-30 hover:font-bold" onclick="modifybooking('${booking._id}')">
					<span> Aggiorna prenotazione <span>
				</button>
				<button type="button" class="flex p-2 mt-4 md:mt-0 rounded bg-red-500 dark:bg-red-800 justify-center items-center w-30 hover:font-bold ${booking.petId ? '' : 'hidden'}" onclick="deleteBooking('${booking._id}')">
					<span> Annulla prenotazione <span>
				</button>
        </div>
      </div>
	</div>


</div>`;
				document.getElementById('booking').appendChild(bookingCard)
				fetch(`/api/animals/${booking.animalId}`)
					.then((response) => response.json())
					.then((animal) => {
						document.getElementById(`animal-${booking._id}`).innerHTML += animal.name;
					});
			})
		})
	function deleteBooking(bookingId) {
		fetch('/api/bookings/' + bookingId + '/admin', {
			method: 'DELETE',
			headers: {
				'Accept': 'application/json',
				'Content-Type': 'application/json',
				'Authorization': `Bearer ${localStorage.token}`
			}
		})
			.then((response) => {
				if (response.ok) {
					window.location.reload();
				}
			})
			.catch((error) => {
				console.error('Error:', error);
			});
	}
	function modifybooking(servicesSlotid) {
		fetch('/api/bookings/' + servicesSlotid, {
			method: 'PATCH',
			headers: {
				'Accept': 'application/json',
				'Content-Type': 'application/json',
				'Authorization': `Bearer ${localStorage.token}`
			},
			body: JSON.stringify(
				{
					info: document.getElementById("informazioni-" + servicesSlotid).value,
					start: document.getElementById("dateStart-" + servicesSlotid).value,
					end: document.getElementById("dateEnd-" + servicesSlotid).value,
				}
			),
		})
			.then((response) => {
				if (response.ok) {
					window.location.reload();
				}
			})
			.catch((error) => {
				console.error('Error:', error);
			});
	}

</script>
