<h1 class="font-bold text-3xl text-center p-4">Gestisci prenotazioni</h1>
<div id="booking" class="flex flex-col gap-4 p-4 max-w-2xl mx-auto">
</div>
<script>
	const dateTimeFormat = Intl.DateTimeFormat('it-IT', {
		hour: 'numeric',
		minute: 'numeric',
		day: 'numeric',
		month: 'short',
		year: 'numeric',
		weekday: 'short',
	});
  const params = (new URL(document.location)).searchParams;
  fetch(`/api/bookings/${params.get('branchId')}/${params.get('serviceId')}`)
  	.then((response) => response.json())
		.then((services) => {
      services.forEach(booking => {
        console.log(booking)
        let bookingCard= document.createElement("div");
								bookingCard.innerHTML = `<div
                class="flex flex-row border border-neutral-300 dark:border-neutral-800 rounded-xl shadow-md max-w-screen-lg mx-auto">
	<div class="w-2/5 p-4 gap-4 justify-center">
  <img class="dark:invert" src="/icons/calendar.svg" width="40">
		<p>${dateTimeFormat.format(new Date(booking.start))} -</p><p> ${dateTimeFormat.format(new Date(booking.end))}</p>
	</div>
	<div class="w-3/5 p-4">
		<label for="informazioni" >Informazioni:</label><input id="informazioni" class=" w-auto dark:bg-neutral-800 rounded" value= "${booking.info}">
    <p>identificativo animale: ${booking.animalId}</p>
    <div class="flex  flex-row grap-2 justify-end p-2">
				<button type="submit" class="flex flex-row gap-2 rounded p-2 bg-emerald-500 dark:bg-emerald-800 justify-center items-center w-30 hover:font-bold">
					<span> Aggiorna prenotazione <span>
				</button>
        	<button type="delete" class="flex flex-row gap-2 rounded p-2 bg-red-500 dark:bg-red-800 justify-center items-center w-30 hover:font-bold" onclick="deleteBook('${booking._Id}')">
					<span> Elimina prenotazione <span>
				</button>
        </div>
      </div>
	</div>


</div>`;
document.getElementById('booking').appendChild(bookingCard)
      })
    })
</script>
