<h1 class="text-center text-3xl p-4">Cambia password</h1>
<form id="form" class="flex flex-col p-4 max-w-prose mx-auto gap-4">
  <label for="oldpassword">Vecchia password</label>
  <input id="oldpassword" class="dark:bg-neutral-800 rounded" type="password" required>
  <label for="newpassword">Nuova password</label>
  <input id="newpassword" class="dark:bg-neutral-800 rounded" type="password" required>
  <label for="newpassword2">Ridigita la nuova password</label>
  <input id="newpassword2" class="dark:bg-neutral-800 rounded" type="password" required>
  <input type="submit" class="p-2 bg-emerald-500 dark:bg-emerald-800 rounded hover:font-bold" value="Cambia password">
</form>
<script>
  document.getElementById('form').onsubmit = changePassword;
  async function digestMessage(message) {
    const msgUint8 = new TextEncoder().encode(message);
    const hashBuffer = await crypto.subtle.digest('SHA-256', msgUint8);
    const hashArray = Array.from(new Uint8Array(hashBuffer));
    const hashHex = hashArray.map((b) => b.toString(16).padStart(2, '0')).join('');
    return hashHex;
  }
  function changePassword(event) {
    event.preventDefault();
    if (document.getElementById('newpassword').value != document.getElementById('newpassword2').value) {
      alert('Le nuove password digitate non sono uguali');
    } else {
      digestMessage(document.getElementById('oldpassword').value)
        .then((digestOldPassword) => {
          digestMessage(document.getElementById('newpassword').value)
            .then((digestNewPassword) => {
              fetch('/api/users/changepassword/admin', {
                method: 'POST',
                headers: {
                  'Accept': 'application/json',
                  'Content-Type': 'application/json',
                  'Authorization': `Bearer ${localStorage.token}`
                },
                body: JSON.stringify({
                  oldpassword: digestOldPassword,
                  newpassword: digestNewPassword,
                }),
              })
					.then((response) => {
						if (response.ok) {
							alert('Password cambiata');
							window.location.href = '/back/profile';
						} else if (response.status == 403) {
							alert('La vecchia password digitata è errata');
						}
					})
								.catch ((error) => {
                console.error('Error:', error);
              });
        });
    });
  }
	}
</script>
