<h1 class="font-bold text-3xl text-center p-4">E-commerce</h1>

<form id="form" class="flex flex-col p-4 max-w-prose mx-auto gap-4 ">
  <label for="animalSlug" class="font-bold  text-xl text-center">Animale: </label>
  <select
    name="animalSlug"
    id="animalSlug"
    class="dark:bg-neutral-800 rounded"
    onchange="load_product()"
  >
  </select>
</form>
<div class=" flex flex-col   md:order-none w-screen  ">
	<div class="mx-auto justify-item-center ">
	<a href="/back/newproduct" role="button" class="flex flex-row gap-2 rounded p-4  bg-emerald-500 dark:bg-emerald-800 w-52 hover:font-bold" >
	<img class="dark:invert" width="30" src="/icons/plus.svg" alt="">
	<span> Aggiungi un nuovo prodotto <span>
 </a>
 </div>
 	<div class="mx-auto justify-item-center ">
		<a href="/back/shopping" role="button" class="flex flex-row gap-2 rounded p-4 mt-6  bg-emerald-500 dark:bg-emerald-800 justify-center items-center w-52 hover:font-bold" >
	<img class="dark:invert" width="25" src="/icons/barcode.svg" alt="">
	<span> Visualizza i prodotti venduti <span>
 </a>
 </div>
</div>
<div id="products" class="flex flex-col gap-4 p-4 max-w-screen-lg mx-auto">
</div>
<script>	

	fetch('/api/animals')
		.then((response) => response.json())
		.then((animals) => {
			animals.forEach(animal => {
				let option = document.createElement('option');
				option.value = animal.slug;
				option.innerHTML = animal.name;
				document.getElementById('animalSlug').appendChild(option);
			});
			document.getElementById('animalSlug').value='cane';
			load_product();
		});

	function load_product() {
		document.getElementById("products").innerHTML= '';
	fetch('/api/categories/')
		.then((response) => response.json())
		.then((categories) => {
			categories.forEach(category => {
				// Immediately create the category header and div so the order is deterministic
				let categoryHeader = document.createElement('h2');
				categoryHeader.innerText = category.name;
				categoryHeader.classList = 'text-3xl font-bold';
				document.getElementById('products').appendChild(categoryHeader);
				let categoryDiv = document.createElement('div');
				categoryDiv.classList = 'flex flex-row flex-nowrap w-full gap-4 p-4 max-w-screen-lg mx-auto overflow-x-scroll snap-x';
				categoryDiv.id = category.slug;
				document.getElementById('products').appendChild(categoryDiv);
				fetch('/api/products/?animalSlug=' +document.getElementById('animalSlug').value + '&categoryId=' + category._id)
					.then((response) => response.json())
					.then((products) => {
						// Remove the category if there isn't any element
						if (products.length == 0) {
							categoryHeader.remove();
							categoryDiv.remove();
						} else {
							products.forEach(productData => {
								let productCard = document.createElement("div");
								productCard.innerHTML = `<div
  class="flex flex-col min-w-[16rem] w-full md:max-w-xs h-full border
  border-neutral-300 dark:border-neutral-800 rounded-xl shadow-md
  hover:border-emerald-500 dark:hover:border-emerald-800 hover:scale-[1.02]
  snap-center"> <a href="/back/modifyprod/${productData.slug}"><img class="w-full
  aspect-square rounded-t-xl bg-neutral-300 dark:bg-neutral-800"
  src="${productData.imageUrl ?? ''}" loading="lazy" alt=""><div class="flex
  flex-row p-4 gap-2 grow"> <div class="flex flex-col justify-center grow"><p class="font-bold
  font-lg">${productData.name}</p> <p>${window.eurIT.format(productData.price)}</p>
  </div>  </div> </a> </div> `;
								document.getElementById(category.slug).appendChild(productCard);
							});
						}
					});
			});
	});
	};
</script>
