<form id="form" class="flex flex-col p-4 max-w-prose mx-auto gap-4">
  <label for="animalSlug" class="justify-center">Animale</label>
  <select
    name="animalSlug"
    id="animalSlug"
    class="dark:bg-neutral-800 rounded"
    onchange="load_product()"
  >
  </select>
</form>
<div id="products" class="flex flex-col gap-4 p-4 max-w-screen-lg mx-auto">
</div>
<script>	
	fetch('/api/animals')
		.then((response) => response.json())
		.then((animals) => {
			animals.forEach(animal => {
				let option = document.createElement('option');
				option.value = animal.slug;
				option.innerHTML = animal.name;
				document.getElementById('animalSlug').appendChild(option);
			});
			document.getElementById('animalSlug').value='cane';
			load_product();
		});
	function load_product() {

	fetch('/api/categories/')
		.then((response) => response.json())
		.then((categories) => {
			categories.forEach(category => {
				// Immediately create the category header and div so the order is deterministic
				let categoryHeader = document.createElement('h2');
				categoryHeader.innerText = category.name;
				categoryHeader.classList = 'text-3xl font-bold';
				document.getElementById('products').appendChild(categoryHeader);
				let categoryDiv = document.createElement('div');
				categoryDiv.classList = 'flex flex-row flex-nowrap w-full gap-4 p-4 max-w-screen-lg mx-auto overflow-x-scroll snap-x';
				categoryDiv.id = category.slug;
				document.getElementById('products').appendChild(categoryDiv);
				fetch('/api/products/?animalSlug=' + window.location.pathname.match(/[^\/]+(?=\/?$)/)[0] + '&categoryId=' + category._id)
					.then((response) => response.json())
					.then((products) => {
						// Remove the category if there isn't any element
						if (products.length == 0) {
							categoryHeader.remove();
							categoryDiv.remove();
						} else {
							products.forEach(productData => {
								let productCard.innerHTML = `<div
  class="flex flex-col min-w-[16rem] w-full md:max-w-xs h-full border
  border-neutral-300 dark:border-neutral-800 rounded-xl shadow-md
  hover:border-emerald-500 dark:hover:border-emerald-800 hover:scale-[1.02]
  snap-center"> <a href="/front/product/${animal.slug}}"><img class="w-full
  aspect-square rounded-t-xl bg-neutral-300 dark:bg-neutral-800"
  src="${product.imageUrl ?? ''}" loading="lazy" alt=""></a> <div class="flex
  flex-row p-4 gap-2 grow"> <div class="flex flex-col justify-center grow"> <a
  href="/front/product/${product.slug}}"><p class="font-bold
  font-lg">${product.name}</p></a> <p>${window.eurIT.format(product.price)}</p>
  </div> <button class="bg-emerald-500 dark:bg-emerald-800 p-4 rounded-full
  self-center shrink-0${product.available > 0 ? '' : ' hidden'}"
  onclick="addToCart('${product.slug}', 1)"><img class="dark:invert" width="20"
  src="/icons/cart-plus.svg"></button> </div> </div> `;
								productCard.setAttribute('productname', productData.name);
								productCard.setAttribute('price', productData.price);
								productCard.setAttribute('slug', productData.slug);
								productCard.setAttribute('image', productData.imageUrl);
								productCard.setAttribute('available', productData.available[0]);
								document.getElementById(category.slug).appendChild(productCard);
							});
						}
					});
			});
	});
	};
</script>