<div id="account" class="flex flex-col gap-4 p-4 max-w-screen-lg mx-auto">
</div><script>
  	fetch('/api/users/info/'+ window.location.pathname.match(/[^\/]+(?=\/?$)/)[0])
  .then((response) => response.json())
		.then((data) => {
let user = document.createElement("form");
user.className = 'flex flex-col md:flex-row gap-4 p-4 max-w-screen-lg mx-auto'
user.innerHTML =`<div class="basis-1/4">
	 <img class="dark:invert" src="/icons/person.svg" width="90" alt="">
	</div>
	<div class="basis-3/4">
		<div class="flex flex-col basis-3/4 gap-2">
			<h1 class="text-3xl font-bold">${ data.name} ${data.surname}</h1>
			<div class="flex flex-row gap-2">
			<label for="name"> Nome: </label><input id="name" class=" dark:bg-neutral-800 rounded" value= "${data.name}"/>
     	</div>
				<div class="flex flex-row gap-2">
				<label for="surname"> Cognome: </label><input id="surname" class=" dark:bg-neutral-800 rounded" value= "${data.surname}"/>
				</div>
				<div class="flex flex-row gap-2">
				<label for="email"> Email: </label><input id="email" class=" dark:bg-neutral-800 rounded" value= "${data.email}"/>
				</div>
				<div class="flex flex-row gap-2">
				<label for="address">Via: </label><input id="address" class=" dark:bg-neutral-800 rounded" value= "${data.address}"/>
				</div>
				<div class="flex flex-row gap-2">
				<label for="city">Città: </label><input id="city" class=" dark:bg-neutral-800 rounded" value= "${data.city}"/>
				</div>
			<div class="flex flex-row gap-2">
				<button type="submit" class="flex flex-row gap-2 rounded p-4 bg-emerald-500 dark:bg-emerald-800 justify-center items-center w-52 hover:font-bold">
					<span> Aggiorna profilo <span>
				</button>
				<a href="/back/changepassword"
  class="flex flex-row w-52 mx-auto gap-2 rounded p-2 bg-emerald-500 dark:bg-emerald-800 justify-center items-center hover:font-bold">
  <img class="dark:invert" width="20" src="/icons/key.svg">
  <span>Cambia password</span>
</a>
        <button type="button" class="flex flex-row gap-2 rounded p-4 bg-red-500 dark:bg-red-800 justify-center items-center w-52 hover:font-bold" onclick="deleteAccount('${data._id}')">
					<span> Elimina profilo <span>
				</button>
			</div>
		</div>
	</div>
    `
      document.getElementById('account').appendChild(user)
			fetch(`/api/pets/`)
					.then((response) => response.json())
					.then((pet) => {
						if(pet.owner==data._id){
						let option=document.createElement('option');
						option.value= pet._id;
						option.innerHTML = pet.name;
						document.getElementById(`pet-${data._id}`).appendChild(option);
						}
					});
    });

			function deleteAccount(userId) {
		fetch('/api/users/info/' + userId, {
			method: 'DELETE',
			headers: {
				'Accept': 'application/json',
				'Content-Type': 'application/json',
				'Authorization': `Bearer ${localStorage.token}`
			}
		})
			.then((response) => {
				if (response.ok) {
					window.location.replace('/back/accounts');
				}
			})
			.catch((error) => {
				console.error('Error:', error);
			});
	}
  </script>
