<h1 class="font-bold text-3xl text-center p-4">Aggiungi un nuovo Prodotto</h1>

<form id="form" class="flex flex-col p-4 max-w-prose mx-auto gap-4">
  <label for="name">Nome</label>
  <input
    type="text"
    name="name"
    id="name"
    class="dark:bg-neutral-800 rounded"
    required
  />
  <label for="animalSlug" class="justify-center">Animale</label>
  <select
    name="animalSlug"
    id="animalSlug"
    class="dark:bg-neutral-800 rounded"
  >
  </select>
  <label for="category">Categoria</label>
  <select
    name="category"
    id="category"
    class="dark:bg-neutral-800 rounded"
    required
  />
  </select>
  <label for="available">Quantità</label>
  <input
    type="number"
    name="available"
    id="available"
    class="dark:bg-neutral-800 rounded" min="1"
    required
  />
  <label for="price">Prezzo</label>
  <input
    type="number"
    name="price"
    id="price"
    class="dark:bg-neutral-800 rounded"
    required
  />
  <label for="text">Descrizione</label>
	<textarea id="text" name="text" class="dark:bg-neutral-800 rounded" rows="5" required></textarea>
  <label for="image">Immagine</label>
  <input type="file" id="image" name="image" accept="image/png, image/jpeg" />
  <input
    type="submit"
    class="p-2 bg-emerald-500 dark:bg-emerald-800 rounded hover:font-bold"
    value="Aggiungi prodotto"
  />

</form>
<script>
	fetch('/api/animals')
		.then((response) => response.json())
		.then((animals) => {
			animals.forEach(animal => {
				let option = document.createElement('option');
				option.value = animal.slug;
				option.innerHTML = animal.name;
				document.getElementById('animalSlug').appendChild(option);
			});
    });
    	fetch('/api/categories/')
		.then((response) => response.json())
		.then((categories) => {
			categories.forEach(category => {
				let option = document.createElement('option');
				option.value = category.slug;
				option.innerHTML = category.name;
				document.getElementById('category').appendChild(option);
			});
    });
    function add_product(event) {
    event.preventDefault();
    fetch('/api/products', {
      method: 'POST',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json',
        'Authorization': `Bearer ${localStorage.token}`
      },
      body: JSON.stringify({
        name: document.getElementById('name').value,
        slug: document.getElementById('slug').value,
        price: document.getElementById('price').value,
        available: document.getElementById('available').value,

      }),
    })
      .then(response => {
        if (response.status == 201)
          return response.json()
        else
          alert("Si è verificato un errore")

      })
      .catch((error) => {
        console.error('Error:', error);
      });
  }
</script>