<h1 class="font-bold text-3xl text-center p-4">Aggiungi un nuovo Prodotto</h1>

<form id="form" class="flex flex-col p-4 max-w-prose mx-auto gap-4">
  <label for="slug">Slug</label>
  <input
    type="text"
    name="slug"
    id="slug"
    class="dark:bg-neutral-800 rounded"
    required
  />
  <label for="name">Nome</label>
  <input
    type="text"
    name="name"
    id="name"
    class="dark:bg-neutral-800 rounded"
    required
  />
  <label for="animalId" class="justify-center">Animale</label>
  <select
    name="animalId"
    id="animalId"
    class="dark:bg-neutral-800 rounded"
  >
  </select>
  <label for="categoryId">Categoria</label>
  <select
    name="categoryId"
    id="categoryId"
    class="dark:bg-neutral-800 rounded"
    required
  />
  </select>
  <label for="available">Quantità</label>
  <input
    type="number"
    name="available"
    id="available"
    class="dark:bg-neutral-800 rounded" min="1"
    required
  />
  <label for="price">Prezzo</label>
  <input
    type="number"
    name="price"
    id="price"
    class="dark:bg-neutral-800 rounded"
    required
  />
  <label for="description">Descrizione</label>
	<textarea id="description" name="description" class="dark:bg-neutral-800 rounded" rows="5" required></textarea>
  <label for="image">Immagine</label>
  <input type="file" id="image" name="image" accept="image/png, image/jpeg" />
  <button
    type="submit"
    class="p-2 bg-emerald-500 dark:bg-emerald-800 rounded hover:font-bold">
    <span>Aggiungi prodotto</span>
  </button>
</form>
<script>
	document.getElementById('form').onsubmit = add_product;
	fetch('/api/animals')
		.then((response) => response.json())
		.then((animals) => {
			animals.forEach(animal => {
				let option = document.createElement('option');
				option.value = animal._id;
				option.innerHTML = animal.name;
				document.getElementById('animalId').appendChild(option);
			});
    });
    	fetch('/api/categories/')
		.then((response) => response.json())
		.then((categories) => {
			categories.forEach(category => {
				let option = document.createElement('option');
				option.value = category._id;
				option.innerHTML = category.name;
				document.getElementById('categoryId').appendChild(option);
			});
    });
    function add_product(event) {
	event.preventDefault();
	const formData = new FormData(document.getElementById('form'));
    fetch('/api/products', {
      method: 'POST',
      headers: {
        'Accept': 'application/json',
        'Authorization': `Bearer ${localStorage.token}`
      },
      body: formData
    })
      .then(response => {
        if (response.status == 201){
          window.location.replace('/back/e-commerce');
          return response.json()
        }else
          alert("Si è verificato un errore")
      })
      .catch((error) => {
        console.error('Error:', error);
      });
  }
</script>
