<h1 class="font-bold text-3xl text-center p-4">Aggiungi nuovo servizio</h1>
<form id="form" class="flex flex-col p-4 max-w-prose mx-auto gap-4">
  <label for="newservice">Servizio: </label>
  <input name="newservice" id="newservice" class="dark:bg-neutral-800 rounded"  />
  <label for="description">Descrizione:</label>
  <textarea rows="5" name="description" id="description" class="dark:bg-neutral-800 rounded" >
  </textarea>
  <label for="image">Immagine</label>
  <input type="file" id="image" name="image" accept="image/png, image/jpeg" />
  <button type="submitService" class="p-2 bg-emerald-500 dark:bg-emerald-800 rounded hover:font-bold"
    onclick="add_service()">
    <span>Aggiungi servizio</span>
  </button>
</form>
<h1 class="font-bold text-3xl text-center p-4">Aggiungi nuova sede</h1>
<form id="formsede" class="flex flex-col p-4 max-w-prose mx-auto gap-4">
  <label for="city"> Città:</label>
  <input name="city" id="city" class="dark:bg-neutral-800 rounded" />
  <label for="address"> Via/Piazza:</label>
  <input name="address" id="address" class="dark:bg-neutral-800 rounded" />
  <button type="submitSede" class="p-2 bg-emerald-500 dark:bg-emerald-800 rounded hover:font-bold" onclick="add_sede()">
    <span>Aggiungi servizio</span>
  </button>
</form>
<h1 class="font-bold text-3xl text-center p-4">Associa il servizio alla sede</h1>
<div id="formsede" class="flex flex-col p-4 max-w-prose mx-auto gap-4">
<label for="branches">Sede:</label>
<select name="branches" id="branches" class="dark:bg-neutral-800 rounded" required />
</select>
<label for="services">Servizio</label>
<select name="services" id="services" class="dark:bg-neutral-800 rounded" required />
</select>
  <button type="associa" class="p-2 bg-emerald-500 dark:bg-emerald-800 rounded hover:font-bold" onclick="associa()">
    <span>Associa</span>
  </button>

</div>

<script>
  fetch('/api/branches')
    .then((response) => response.json())
    .then((branches) => {
      branches.forEach(branch => {
        let option = document.createElement('option');
        option.value = branch._id;
        option.innerHTML = branch.city + ' (' + branch.address + ')';
        document.getElementById('branches').appendChild(option);
      });
    });
  fetch('/api/services')
    .then((response) => response.json())
    .then((services) => {
      services.forEach(service => {
        let option = document.createElement('option');
        option.value = service._id;
        option.innerHTML = service.name;
        document.getElementById('services').appendChild(option);
      });
    });


  function add_service() {
    fetch('/api/services/', {
      method: 'POST',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json',
        'Authorization': `Bearer ${localStorage.token}`
      },
      body: JSON.stringify({
        name: document.getElementById('newservice').value,
        description: document.getElementById('description').value,
        imageUrl: document.getElementById('image').value,
      }),
    })
      .then(response => {
        if (response.status == 201) {
          window.location.replace('/back/services');
        } else
          alert("Si è verificato un errore")

      })
      .catch((error) => {
        console.error('Error:', error);
      });
  }
  function add_sede() {
    fetch('/api/branches/', {
      method: 'POST',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json',
        'Authorization': `Bearer ${localStorage.token}`
      },
      body: JSON.stringify({
        city: document.getElementById('city').value,
        address: document.getElementById('address').value,
      }),
    })
      .then(response => {
        if (response.status == 201) {
          window.location.replace('/back/services');
        } else
          alert("Si è verificato un errore")

      })
      .catch((error) => {
        console.error('Error:', error);
      });
  }
    function add_sede() {
    fetch('/api/branches/', {
      method: 'POST',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json',
        'Authorization': `Bearer ${localStorage.token}`
      },
      body: JSON.stringify({
        city: document.getElementById('city').value,
        address: document.getElementById('address').value,
      }),
    })
      .then(response => {
        if (response.status == 201) {
          window.location.replace('/back/services');
        } else
          alert("Si è verificato un errore")

      })
      .catch((error) => {
        console.error('Error:', error);
      });
  }
   function associa() {
    fetch('/api/branches/', {
      method: 'POST',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json',
        'Authorization': `Bearer ${localStorage.token}`
      },
      body: JSON.stringify({
        city: document.getElementById('city').value,
        address: document.getElementById('address').value,
        serviceId: document.getElementById('services').value
      }),
    })
      .then(response => {
        if (response.status == 201) {
          window.location.replace('/back/services');
        } else
          alert("Si è verificato un errore")

      })
      .catch((error) => {
        console.error('Error:', error);
      });
  }



</script>