<h1 class="font-bold text-3xl text-center p-4">Aggiungi nuovo servizio</h1>
<form id="form" class="flex flex-col p-4 max-w-prose mx-auto gap-4">
  <label for="name">Servizio: </label>
  <input name="name" id="name" class="dark:bg-neutral-800 rounded" type="text" />
  <label for="description">Descrizione:</label>
  <textarea rows="5" name="description" id="description" class="dark:bg-neutral-800 rounded" required></textarea>
  <label for="image">Immagine</label>
  <input type="file" id="image" name="image" accept="image/png, image/jpeg" />
  <button type="submit" class="p-2 bg-emerald-500 dark:bg-emerald-800 rounded hover:font-bold">
    <span>Aggiungi servizio</span>
  </button>
</form>
<script>
document.getElementById('form').onsubmit = add_service;
function add_service() {
    event.preventDefault();
    const formData = new FormData(document.getElementById('form'));
    fetch('/api/services/', {
      method: 'POST',
      headers: {
        'Accept': 'application/json',
        'Authorization': `Bearer ${localStorage.token}`
      },
      body: formData
    })
      .then(response => {
        if (response.status == 201) {
          window.location.replace('/back/services');
        } else
          alert("Si è verificato un errore")

      })
      .catch((error) => {
        console.error('Error:', error);
      });
  }

</script>
