<h1 class="font-bold text-3xl text-center p-4">Ordine</h1>
<div class="flex flex-col md:flex-row max-w-screen-3xl p-2">
<div id="singleorder" class=" font-bold  mx-auto "> 
<h2 class="text-left text-xl"> Dati del acquirente:</h2>   
</div>
<div id="order" class="  font-bold   mx-auto ">
  <h2 class="text-left text-xl">Dati del prodotto:</h2>   
  </div>
</div>
<script>
  fetch('/api/order/' + window.location.pathname.match(/[^\/]+(?=\/?$)/)[0])
    .then((response) => response.json())
    .then((data) => {
      let userdati = document.createElement("div");
      userdati.innerHTML = `<div
                class="  border border-neutral-300 dark:border-neutral-800  rounded-xl shadow-md   mx-auto">
    								<div class=" p-4  ">
       
    <p>Name: ${data.name}</p>
    <p>Cognome: ${data.surname}</p>
    <p>Email: ${data.email}</p>
    <p>Via/Piazza: ${data.address}</p>
    <p>City: ${data.address}</p>
    </div>
    </div>
    `
      document.getElementById('singleorder').appendChild(userdati);
      data.products.forEach(product => {
        let orderB = document.createElement('div');
        orderB.innerHTML = `
        <div
                class="flex flex-col border border-neutral-300 dark:border-neutral-800  rounded-xl shadow-md  p-4 mx-auto">
    	      
    <p>slug: ${product.slug}</p>
    <p>Prezzo: ${window.eurIT.format(product.price)}</p>
        <p>Quantità: ${product.quantity}</p>
                    
                    </div>`;
        document.getElementById('order').appendChild(orderB);
      });
    });

</script>