<div id="products" class="flex flex-col gap-4 p-4 max-w-screen-lg mx-auto">
</div>
<div class="flex flex-row flex-wrap gap-4 justify-around max-w-screen-lg mx-auto">
	<a id="board" class="flex flex-row gap-2 rounded p-4 bg-emerald-500 dark:bg-emerald-800 justify-center items-center w-52 hover:font-bold">
		<img class="dark:invert" width="20" src="/icons/chat.svg">
		<span>Comunità</span>
	</a>
	<a href="" class="flex flex-row gap-2 rounded p-4 bg-emerald-500 dark:bg-emerald-800 justify-center items-center w-52 hover:font-bold">
		<img class="dark:invert" width="20" src="/icons/house-medical.svg">
		<span>Servizi in presenza</span>
	</a>
	<a href="" class="flex flex-row gap-2 rounded p-4 bg-emerald-500 dark:bg-emerald-800 justify-center items-center w-52 hover:font-bold">
		<img class="dark:invert" width="20" src="/icons/globe.svg">
		<span>Servizi online</span>
	</a>
</div>
<script>
	document.getElementById("board").href = '/front/board/' + window.location.pathname.match(/[^\/]+(?=\/?$)/)[0];
	fetch('/api/categories/')
		.then((response) => response.json())
		.then((categories) => {
			categories.forEach(category => {
				// Immediately create the category header and div so the order is deterministic
				let categoryHeader = document.createElement('h2');
				categoryHeader.innerText = category.name;
				categoryHeader.classList = 'text-3xl font-bold';
				document.getElementById('products').appendChild(categoryHeader);
				let categoryDiv = document.createElement('div');
				categoryDiv.classList = 'flex flex-row flex-nowrap w-full gap-4 p-4 max-w-screen-lg mx-auto overflow-x-scroll snap-x';
				categoryDiv.id = category.slug;
				document.getElementById('products').appendChild(categoryDiv);
				fetch('/api/products/?animalSlug=' + window.location.pathname.match(/[^\/]+(?=\/?$)/)[0] + '&categoryId=' + category._id)
					.then((response) => response.json())
					.then((products) => {
						// Remove the category if there isn't any element
						if (products.length == 0) {
							categoryHeader.remove();
							categoryDiv.remove();
						} else {
							products.forEach(productData => {
								let productCard = document.createElement('ah-productcard');
								productCard.setAttribute('productname', productData.name);
								productCard.setAttribute('price', productData.price);
								productCard.setAttribute('slug', productData.slug);
								productCard.setAttribute('image', productData.imageUrl);
								productCard.setAttribute('available', productData.available[0]);
								document.getElementById(category.slug).appendChild(productCard);
							});
						}
					});
			});
	});
</script>
