<div id="boards" class="flex flex-col gap-4 p-4 max-w-screen-lg mx-auto">
	<div class="flex flex-col w-full gap-4 p-4" id="eccolo-qua">
		<div class="flex flex-row justify-between">
			<h2 class="text-3xl font-bold">Eccolo qua</h2>
			<a id="newpost-eccolo-qua" class="flex flex-row gap-2 rounded p-1 bg-emerald-500 dark:bg-emerald-800 justify-center items-center w-40 hover:font-bold hidden">
				<img class="dark:invert" src="/icons/plus.svg" width="20">
				<span>Crea nuovo post</span>
			</a>
		</div>
	</div>
	<div class="flex flex-col w-full gap-4 p-4" id="cerco-partner">
		<div class="flex flex-row justify-between">
			<h2 class="text-3xl font-bold">Cerco partner</h2>
			<a id="newpost-cerco-partner" class="flex flex-row gap-2 rounded p-1 bg-emerald-500 dark:bg-emerald-800 justify-center items-center w-40 hover:font-bold hidden">
				<img class="dark:invert" src="/icons/plus.svg" width="20">
				<span>Crea nuovo post</span>
			</a>
		</div>
	</div>
	<div class="flex flex-col w-full gap-4 p-4" id="aiutatemi">
		<div class="flex flex-row justify-between">
			<h2 class="text-3xl font-bold">Aiutatemi</h2>
			<a id="newpost-aiutatemi" class="flex flex-row gap-2 rounded p-1 bg-emerald-500 dark:bg-emerald-800 justify-center items-center w-40 hover:font-bold hidden">
				<img class="dark:invert" src="/icons/plus.svg" width="20">
				<span>Crea nuovo post</span>
			</a>
		</div>
	</div>
</div>
<script>
	['eccolo-qua', 'cerco-partner', 'aiutatemi'].forEach((board) => {
		if (localStorage.token) {
			document.getElementById('newpost-' + board).classList.remove('hidden');
			document.getElementById('newpost-' + board).href = '/front/newpost?animalSlug=' + window.location.pathname.match(/[^\/]+(?=\/?$)/)[0] + '&board=' + board;
		}
		fetch('/api/topics/?animalSlug=' + window.location.pathname.match(/[^\/]+(?=\/?$)/)[0] + '&board=' + board)
			.then((response) => response.json())
			.then((topics) => {
				if (topics.length == 0) {
					let nopost = document.createElement('p');
					nopost.innerHTML = 'Nessun post creato';
					document.getElementById(board).appendChild(nopost);
				} else {
					topics.forEach(topic => {
						let boardMessageTitle = document.createElement('a');
						boardMessageTitle.href = '/front/topic/' + topic._id;
						boardMessageTitle.classList = 'text-xl font-bold';
						boardMessageTitle.innerHTML = topic.title;
						let boardMessage = document.createElement('ah-boardmessage');
						fetch('/api/users/info/' + topic.authorId)
							.then(response => response.json())
							.then(data => {
								boardMessage.setAttribute('name', data.name);
								boardMessage.setAttribute('surname', data.surname);
							});
						boardMessage.setAttribute('text', topic.text);
						document.getElementById(board).appendChild(boardMessageTitle);
						document.getElementById(board).appendChild(boardMessage);
					});
				}
			});
	});
</script>
