<div id="products" class="grid grid-cols-1 md:grid-cols-3 gap-4 p-4 max-w-screen-lg mx-auto"></div>
<script>
	fetch('/api/products/')
		.then((response) => response.json())
		.then((data) => {
			data.forEach(productData => {
				let productCard = document.createElement('ah-productcard');
				productCard.setAttribute('productname', productData.name);
				productCard.setAttribute('price', productData.price);
				productCard.setAttribute('slug', productData.slug);
				productCard.setAttribute('image', productData.imageUrl);
				document.getElementById('products').appendChild(productCard);
			});
		});
</script>
